.Projects {
}

.Projects-list {
	margin-bottom: 1.5rem;
}

.Project {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.Project-header {
	display: flex;
	align-items: stretch;
}

.Project-header, .Project-body {
	padding: 0 1rem;
}

.Project-title {
	flex-grow: 1;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.4;
	padding-bottom: 0.5rem;
}

.Project-tags {
	display: flex;
	align-items: flex-start;
}

.Project-tag {
	padding: 0.2rem 0.4rem;
	border: 2px solid red;
	border-radius: 3px;
	margin-left: 0.5rem;
}

.Project-tag--rust {
	border-color: #dea584;
}

.Project-tag--lua {
	border-color: #00007c;
}

.Project-tag--js {
	border-color: #f0db4f;
}

.Project-description {
	font-size: 1.1rem;
	flex-grow: 1;
	line-height: 1.2;
	padding-bottom: 0.5rem;
}

.Project-children {
	display: flex;
	flex-flow: row wrap;
	padding: 0.15rem 0;
}

.Project-link {
	display: inline-block;
	font-size: 1.1rem;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0.25rem 0.5rem;

	transition: all 80ms ease-in-out;
}

.Project-link:hover,
.Project-link:focus {
	border-color: rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.09);
}