.ApiClass-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.ApiClass-member {
	margin-bottom: 1rem;
}

.ApiClass-member-name {
	font-weight: bold;
	font-size: 1.1rem;
}

.ApiClass-member-description {
}