.Article {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.Article-header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 46rem;
	margin: 0 auto;
}

.Article-title {
	flex-grow: 1;
	font-weight: 700;
	font-size: 2rem;
}

.Article-date {
	color: #666;
	font-style: italic;
}

.Article-body {
}