.Header {
	background-color: rgb(237, 237, 237);
	padding: 0 1rem;
}

.Header-inner {
	display: flex;

	max-width: 64rem;
	margin: 0 auto;
}

.Header-title {
	font-size: 2rem;
	line-height: 1.2;
	padding: 0.5rem;
}

.Header-nav {
	display: flex;
	padding: 0 0.5rem;
}

.Header-navItem {
	display: flex;
	align-items: center;

	padding: 0.5rem 1rem;
	position: relative;
}

.Header-navItem-underline {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;

	background-color: rgba(0, 0, 0, 0.07);

	transition: height 110ms ease-in-out;
}

.Header-navItem--active .Header-navItem-underline {
	height: 100%;
}