.Header {
	background-color: rgb(237, 237, 237);
}

.Header-inner {
	display: flex;
	align-items: center;

	max-width: 64rem;
	margin: 0 auto;
}

.Header-title {
	font-size: 2rem;
	line-height: 1.2;
}

.Header-nav {
	display: flex;
	padding: 0.5rem;
}

.Header-navItem {
	padding: 0.5rem;
}