.Page {
}

.Page-inner {
	max-width: 56rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.Page-title {
	font-size: 2rem;
	font-weight: 600;
	padding: 0.5rem 0;
}

.Page-subtitle {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.Page-paragraph {
	font-size: 1.3rem;
	padding-bottom: 1rem;
}